@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gacor';
    src: url('./../../src/fonts/Gacor.ttf');
}

@font-face {
    font-family: 'Coolvetica';
    src: url('./../../src/fonts/coolveticarg.otf');
}

@font-face {
    font-family: 'Coolvetica Bold';
    src: url('./../../src/fonts/CoolveticaRg-Bold.ttf');
}

@font-face {
    font-family: 'Coolvetica Heavy';
    src: url('./../../src/fonts/CoolveticaHv-Regular.ttf');
}

@font-face {
    font-family: 'Coolvetica Light';
    src: url('./../../src/fonts/CoolveticaLt-Regular.ttf');
}

@font-face {
    font-family: 'Coolvetica Extra Light';
    src: url('./../../src/fonts/CoolveticaEl-Regular.ttf');
}

.hover:hover {
    color: #1aa8d7;
    transition: .5s all ease-in-out;
}

.paragraph {
    background: rgb(199, 208, 215);
    background: linear-gradient(260deg, rgba(199, 208, 215, 1) 46%, rgba(26, 168, 215, 1) 100%);
    background-clip: text;
    color: transparent;
}

.textsGradient {
    background: rgb(199, 208, 215);
    background: linear-gradient(260deg, rgb(198, 208, 215) 46%, rgb(26, 167, 213) 100%);
    background-clip: text;
    color: transparent;
}

.gradient {
    background: rgb(129, 138, 146);
    background: linear-gradient(90deg, rgba(129, 138, 146, 1) 0%, rgba(108, 117, 120, 1) 73%, rgba(98, 107, 110, 1) 100%);
}

.gradient:hover {
    background: rgb(129, 138, 146);
    background: linear-gradient(90deg, rgba(129, 138, 146, 1) 0%, rgba(108, 117, 120, 1) 73%, rgba(98, 107, 110, 1) 100%);
    transition: 1s all ease-in-out;
}

.grayGradient {
    background: rgb(129, 138, 146);
    background: linear-gradient(90deg, rgba(129, 138, 146, 1) 0%, rgba(108, 117, 120, 1) 73%, rgba(98, 107, 110, 1) 100%);
}

.grayGradient:hover {
    background: #1aa8d7;
    transition: 1s all ease-in-out;
}

.backPreFooter {
    background-image: url('./../../public/images/f50c53106417257.5f8f6bcc02fe3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.glass {
    background: rgba(255,255,255,0.25);
-webkit-backdrop-filter: blur(6px);
backdrop-filter: blur(6px);
border: 1px solid rgba(255,255,255,0.125);

}

.circle {
    background: rgb(106, 11, 1);
    background: linear-gradient(160deg, rgba(106, 11, 1, 1) 0%, rgba(175, 8, 1, 1) 25%, rgba(226, 41, 1, 1) 50%, rgba(242, 104, 23, 1) 75%, rgba(235, 162, 98, 1) 100%);
}

/* Glassmorphismo */


/* Fim da Circle Section */