@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gacor';
    src: url('./../../src/fonts/Gacor.ttf');
}

@font-face {
    font-family: 'Coolvetica';
    src: url('./../../src/fonts/coolveticarg.otf');
}

@font-face {
    font-family: 'Coolvetica Bold';
    src: url('./../../src/fonts/CoolveticaRg-Bold.ttf');
}

@font-face {
    font-family: 'Coolvetica Heavy';
    src: url('./../../src/fonts/CoolveticaHv-Regular.ttf');
}

@font-face {
    font-family: 'Coolvetica Light';
    src: url('./../../src/fonts/CoolveticaLt-Regular.ttf');
}

@font-face {
    font-family: 'Coolvetica Extra Light';
    src: url('./../../src/fonts/CoolveticaEl-Regular.ttf');
}

.paragraph {
    background-image: url('./../../public/images/Gradient.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: text;
    color: transparent;
}

.gradient {
    background-image: url('./../../public/images/Gradient.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.grayGradient {
    background-image: url('./../../public/images/GradientGray.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.gradient:hover {
    background-image: url('./../../public/images/GradientGray.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 1s all ease-in-out;
}


.back {
    background-image: url('./../../public/images/Background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.backPreFooter {
    background-image: url('./../../public/images/PreFooter.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.hover:hover {
    color: #EA6033;
    transition: .5s ease-in-out;
}

.gradientGray {
    background-image: url('./../../public/images/GradientGray.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: text;
    color: transparent;
}