@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gacor';
    src: url('./../../src/fonts/Gacor.ttf');
}

@font-face {
    font-family: 'Coolvetica';
    src: url('./../../src/fonts/coolveticarg.otf');
}

@font-face {
    font-family: 'Coolvetica Bold';
    src: url('./../../src/fonts/CoolveticaRg-Bold.ttf');
}

@font-face {
    font-family: 'Coolvetica Heavy';
    src: url('./../../src/fonts/CoolveticaHv-Regular.ttf');
}

@font-face {
    font-family: 'Coolvetica Light';
    src: url('./../../src/fonts/CoolveticaLt-Regular.ttf');
}

@font-face {
    font-family: 'Coolvetica Extra Light';
    src: url('./../../src/fonts/CoolveticaEl-Regular.ttf');
}

@font-face {
    font-family: 'Geometos Neue Extra Light';
    src: url('./../../src/fonts/Fontspring-DEMO-geometos_neue_extralight.otf');
}

@font-face {
    font-family: 'Geometos Neue Light';
    src: url('./../../src/fonts/Fontspring-DEMO-geometos_neue_light.otf');
}

@font-face {
    font-family: 'Geometos Neue Regular';
    src: url('./../../src/fonts/Fontspring-DEMO-geometos_neue.otf');
}

@font-face {
    font-family: 'Geometos Neue Bold';
    src: url('./../../src/fonts/Fontspring-DEMO-geometos_neue_bold.otf');
}

@font-face {
    font-family: 'Geometos Neue Black';
    src: url('./../../src/fonts/Fontspring-DEMO-geometos_neue_black.otf');
}

@font-face {
    font-family: 'Geometos Neue Extra Bold';
    src: url('./../../src/fonts/Fontspring-DEMO-geometos_neue_extrabold.otf');
}

@font-face {
    font-family: 'Geometos Neue Ultra';
    src: url('./../../src/fonts/Fontspring-DEMO-geometos_neue_ultra.otf');
}

.hover:hover {
    color: #1aa8d7;
    transition: .5s all ease-in-out;
}

.paragraph {
    background: rgb(199, 208, 215);
    background: linear-gradient(260deg, rgba(199, 208, 215, 1) 46%, rgba(26, 168, 215, 1) 100%);
    background-clip: text;
    color: transparent;
}

.textsGradient {
    background: rgb(199, 208, 215);
    background: linear-gradient(260deg, rgb(198, 208, 215) 46%, rgb(26, 167, 213) 100%);
    background-clip: text;
    color: transparent;
}

.gradient {
    background: rgb(129, 138, 146);
    background: linear-gradient(90deg, rgba(129, 138, 146, 1) 0%, rgba(108, 117, 120, 1) 73%, rgba(98, 107, 110, 1) 100%);
}

.gradient:hover {
    background: rgb(129, 138, 146);
    background: linear-gradient(90deg, rgba(129, 138, 146, 1) 0%, rgba(108, 117, 120, 1) 73%, rgba(98, 107, 110, 1) 100%);
    transition: 1s all ease-in-out;
}

.grayGradient {
    background: rgb(129, 138, 146);
    background: linear-gradient(90deg, rgba(129, 138, 146, 1) 0%, rgba(108, 117, 120, 1) 73%, rgba(98, 107, 110, 1) 100%);
}

.grayGradient:hover {
    background: #1aa8d7;
    transition: 1s all ease-in-out;
}

.backPreFooter {
    background-image: url('./../../public/images/Teste.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}